---
permalink: /favicon.svg
eleventyExcludeFromCollections: true
---

<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512">
    <rect x="0" y="0" width="512" height="512" fill="{{ siteStyles.colours.white }}"/>
    <text x="50%" y="50%" dominant-baseline="central" alignment-baseline="central" text-anchor="middle"
    style="font-family: 'Arial', sans-serif; font-size:500px; fill:{{ siteStyles.colours.primary }};">

        {# Change this to any letter/emoji you want #}
        {{ siteSettings.title | first }}

    </text>
</svg>