<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/metatags.njk" %}

        {% set css %}
        {% include "../../assets/css/allStyles.njk" %}
        {% endset %}

        <style>
            {% if env.env == "development" %}
                {{css | safe}}
            {% else %}
                {{css | cssmin | safe}}
            {% endif %}
        </style>
    </head>

    <body class="container">
        {% include "partials/header.njk" %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>See all the posts on this website on <a href="https://github.com/{{ siteSettings.repository }}/issues">their original Github Issues list</a>
            </p>
        </footer>
    </body>
</html>