<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/metatags.njk" %}

        {% set css %}
        {% include "../../assets/css/reset.css" %}
        {% include "../../assets/css/styles.css" %}
        {% endset %}
        <style>
            {{css | cssmin | safe}}
        </style>
    </head>
    <body class="container">
        {% include "partials/header.njk" %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>See the posts on this website on <a href="https://github.com/{{ site.repository }}/issues">their original Github Issues list</a>
            </p>
        </footer>
    </body>
</html>