{% extends './base.njk' %}

{% block content %}
    {{ content | safe }}

    {% include "partials/recentPosts.njk" %}
{% endblock %}

{% block footer %}
    <footer>
        <a href="/posts" class="see_all">See all posts</a>
    </footer>
{% endblock %}