::selection {
  background-color: var(--secondary);
  color: var(--white);
}

html {
  font-size: 20px;
  min-width: 300px;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--black);
}

a {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

pre {
  padding: 1rem 0.5rem;
  box-shadow: var(--box-shadow-size) var(--box-shadow-color);
  overflow: auto;
}

blockquote {
  border-left: 5px solid var(--secondary);
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 1.5rem 0;
}

.word-wrap-break-word,
.footnote-item a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.container {
  max-width: 35rem;
  margin: 0 auto 1rem;
  padding: 0 1rem;
}

header {
  margin-bottom: 2rem;
}

header .siteTitle {
  margin-bottom: 1rem;
}

header .siteSubtitle {
  line-height: 1.2;
}

footer {
  margin-top: 2rem;
}

.pageTitle,
.postsList > .post > article {
  margin-top: 1rem;
}

.pageTitle {
  color: var(--secondary);
}

.postTitle {
  margin-top: 0;
}

ul.tagList {
  margin-top: 1rem;
}

.tag span {
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.125rem 0.75rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.see_all {
  margin-top: 1.5rem;
}

.see_all a {
  color: var(--secondary);
}
