:root {
  --black: {{ siteStyles.colours.black }};
  --white: {{ siteStyles.colours.white }};
  --grey: {{ siteStyles.colours.grey }};
  --primary: {{ siteStyles.colours.primary }};
  --secondary: {{ siteStyles.colours.secondary }};
  --box-shadow-color: hsla(0, 0%, 0%, 0.2);
  --box-shadow-size: 0 4px 6px 0;
}