---
title: Sorry, that page doesn't exist
permalink: 404.html
layout: "layouts/base.njk"
---

{% block content %}
  <h2>{{ title }}</h2>
  <p>
    Try again on the <a href="{{ "/posts" | url }}">All Posts page</a>
  </p>
{% endblock %}