---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ siteSettings.title }}</title>
    <subtitle>{{ siteSettings.description }}</subtitle>
    <link href="{{ siteSettings.url }}/feed.xml" rel="self"/>
    <link href="{{ siteSettings.url }}"/>
    <updated>{{ collections.allPosts | rssLastUpdatedDate }}</updated>
    <id>{{ siteSettings.url }}/</id>
    <author>
        <name>{{ siteSettings.author }}</name>
    </author>
    {%- for post in collections.allPosts %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteSettings.url) }}{% endset %}
        <entry>
            <title>{{ post.data.post.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | rssDate }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">{{ post.templateContent | safe }}</content>
        </entry>
    {%- endfor %}
</feed>