---
pagination:
    data: GithubIssues
    size: 1
    alias: post
    addAllPagesToCollections: true
tags: allPosts
permalink: "/post/{% if siteSettings.useTitles %}{{post.title | string | slug }}-{%endif%}{{ post.id | string | slug }}/"
layout: "layouts/post.njk"
title: {{ post.title | string }}
---

{% block content %}
    <article class="post">
        {% if post.title and siteSettings.useTitles == true %}
            <h2 class="pageTitle">
                {{ post.title }}
            </h2>
        {% endif %}

        <p class="postDateTime">
            <a href="{{ post.url }}">
                <time datetime="{{ post.date }}">{{ post.date | dateFilter }}</time>
            </a>
        </p>

        {% if post.content %}
            <section class="postContent">{{ post.postContent | markdownify | safe }}</section>
        {% endif %}

        {% if post.tags %}
            <p>Tags</p>
            <ul class="tagList">
                {% for tag in post.tags %}
                    <li class="tag">{{ tag.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if post.comments %}

            <ul class="commentsList">
                {% for comment in post.comments %}
                    <li class="comment">

                        <img class="commentAvatar" src="{% if siteSettings.Cloudinary_Cloud_Name %}https://res.cloudinary.com/{{ siteSettings.Cloudinary_Cloud_Name }}/image/fetch/w_100,h_100,f_auto/{% endif %}{{ comment.userAvatar }}" alt="avatar image of {{ comment.user }}" width="50" height="50"/>

                        <p class="commentUser">
                            <a href="https://github.com/{{ comment.user }}">{{ comment.user }}</a>
                        </p>
                        <p class="commentDateTime">
                            <a class="commentURL" href="{{ comment.url}}">
                                <time datetime="{{ comment.date }}">{{ comment.date | dateFilter }}</time>
                            </a>
                        </p>
                        <p class="commentContent">{{ comment.commentContent | markdownify | safe }}</p>

                    </li>
                {% endfor %}
            </ul>

            <section>
                <a href="https://github.com/edjw/github-issue-blog/issues/{{ post.id | string }}#issue-comment-box">Leave a comment</a>
            </section>
        {% endif %}
    </article>
{% endblock %}