<header>
    <h1 class="siteTitle">
        <a href="/">{{ siteSettings.title }}</a>
    </h1>
    {% if siteSettings.subtitle %}
        <p class="siteSubtitle"><small>{{ siteSettings.subtitle }}</small></p>
    {% endif %}
</header>