{% if pagination.pageNumber == 1 %}
    {% set paginationPrevUrl %}/posts/{% endset %}
{% endif %}

{% if pagination.pageNumber > 1 %}
    {% set paginationPrevUrl %}/posts/{{ pagination.pageNumber - 1 }}{% endset %}
{% endif %}

{% if pagination.nextPageHref %}
    {% set paginationNextUrl = pagination.nextPageHref %}
{% endif %}
{% if paginationNextUrl or paginationPrevUrl %}
    <section class="pagination">
        {% if paginationPrevUrl %}
            <a href="{{ paginationPrevUrl }}" data-direction="backwards" class="button">
                {# {% include "icons/arrow.svg" %} #}
                <span>Newer posts</span>
            </a>
        {% endif %}
        {% if paginationNextUrl %}
            <a href="{{ paginationNextUrl }}" data-direction="forwards" class="button">
                <span>Older posts</span>
                {# {% include "icons/arrow.svg" %} #}
            </a>
        {% endif %}
    </section>
{% endif %}