<h2 class="pageTitle">Latest posts</h2>
<ul class="postsList">

    {% set numberOfPostsToShow = 4 %}

    {% if GithubIssues | length >= numberOfPostsToShow %}
        {% set numberOfPosts = numberOfPostsToShow %}
    {% else %}
        {% set numberOfPosts = GithubIssues | length %}
    {% endif %}

    {% for i in range(0, numberOfPosts) %}
        <li class="post">
            <article>
                <p class="postDateTime">
                    <time datetime="{{ GithubIssues[i].date }}">{{ GithubIssues[i].date | dateFilter }}</time>
                </p>
                <h3 class="postTitle">
                    <a href="/post/{{GithubIssues[i].title | string | customSlug }}-{{ GithubIssues[i].id | string | customSlug }}">{{ GithubIssues[i].title }}</a>
                </h3>
            </article>
        </li>
    {% endfor %}
</ul>