<h2 class="pageTitle">Latest posts</h2>
<ul class="postsList">

    {% set numberOfPostsToShow = 4 %}

    {% if GithubIssues | length >= numberOfPostsToShow %}
        {% set numberOfPosts = numberOfPostsToShow %}
    {% else %}
        {% set numberOfPosts = GithubIssues | length %}
    {% endif %}

    {% for i in range(0, numberOfPosts) %}
        <li class="post">
            <article>
                {% if site.useTitles %}

                    <p class="postDateTime">
                        <time datetime="{{ GithubIssues[i].date }}">{{ GithubIssues[i].date | dateFilter }}</time>
                    </p>
                    <h3 class="postTitle">
                        <a href="/post/{{ GithubIssues[i].title | string | slug }}-{{ GithubIssues[i].id | string | slug }}">{{ GithubIssues[i].title }}</a>
                    </h3>

                {% else %}

                    <h3 class="postDateTime">
                        <a href="/post/{{ GithubIssues[i].id | string | slug }}/">
                            <time datetime="{{ GithubIssues[i].date }}">{{ GithubIssues[i].date | dateFilter }}</time>
                        </a>
                    </h3>
                    <section class="postContent">
                        {{ GithubIssues[i].content }}
                    </section>

                {% endif %}
            </article>
        </li>
    {% endfor %}
</ul>