<h2 class="pageTitle">Latest posts</h2>
<ul class="postsList">
    {% for i in range(0, 4) %}
        <li class="post">
            <article>
                <p class="postDateTime">
                    <time datetime="{{ GithubIssues[i].date }}">{{ GithubIssues[i].date | dateFilter }}</time>
                </p>
                <h3 class="postTitle">
                    <a href="/post/{{GithubIssues[i].title | string | slug }}-{{ GithubIssues[i].id | string | slug }}">{{ GithubIssues[i].title }}</a>
                </h3>
            </article>
        </li>
    {% endfor %}
</ul>